#angles-floater.collapsed {
    width: 50px;
    height: 200px;
    color: white;
    background-color: red;
}
#angles-floater.collapsed > * {
    transform: rotate(-90deg);
}

#angles-floater {
    position: fixed;
    top: 100px;
    right: 0;
}
