@font-face {
  font-family: "Bitter", sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Bitter);
}
@font-face {
    font-family: "Bitter", sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Lato);
}

#angles-floater-content {
  all: initial;
  border-radius: 15px;
  font-family: "Bitter", sans-serif;
  margin:0px;
}

.indicator-l {
  all: initial;
  position: absolute;
  display: inline-block;
  font-size: small;
  top: 25px;
  left: 150px;
  font-family: "Bitter", sans-serif;
  box-sizing: border-box;
}

.indicator-r {
  all: initial;
  position: absolute;
  display: inline-block;
  font-size: small;
  top: 25px;
  right: 25px;
  font-family: "Bitter", sans-serif;
  box-sizing: border-box;
}

.bias-bar {
  all: initial;
  position: absolute;
  display: inline-block;
  top: 15px;
  right: 30px;
  width: 100px;
  height: 15px;
  background: linear-gradient(
    90deg,
    rgba(20, 0, 255, 0.85) 23.18%,
    rgba(255, 0, 0, 0.85) 72.27%
  );
  /* box-sizing: border-box; */
  border-radius: 15px;
  margin: 10px;
  box-sizing: border-box;
}

.popup-top {
  all: initial;
  display: inline-block;
  white-space: nowrap;
  width: 300px;
  height: 50px;
  background: #c4c4c4;
  /* border: 1px solid #000000; */
  /* box-sizing: border-box; */
  border-radius: 15px 15px 0px 0px;
}

.popup-source {
  all: initial;
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
  font-family: "Bitter", sans-serif;
}

.popup-mid {
  all: initial;
  display: flex;
  overflow-wrap: break-word;
  width: 300px;
  height: 100px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.section-title {
  all: initial;
  display: inline-block;
  /* white-space: nowrap; */
  overflow-wrap: break-word;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 10px;
  font-family: "Lato", sans-serif;
}

.popup-bottom {
  all: initial;
  overflow-wrap: break-word;
  display: flex;
  width: 300px;
  height: 300px;
  background: #c4c4c4;
  /* border: 1px solid #000000; */
  box-sizing: border-box;
  border-radius: 0px 0px 15px 15px;
  overflow: auto;
}

.current-article{
  all: initial;
  display: inline-block;
  overflow-wrap: break-word;
}

.contrasting-article{
  all: initial;
  display: inline-block;
  overflow-wrap: break-word;
}
