@font-face {
  font-family: "Bitter", sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Bitter);
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Lato);
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 15px;
  background: linear-gradient(
    90deg,
    rgba(20, 0, 255, 0.85) 23.18%,
    rgba(255, 0, 0, 0.85) 72.27%
  ); /* Grey background */
  outline: none; /* Remove outline */
  border: 1px solid #000000;
  border-radius: 15px;
  display:block;
  float:right;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #f9aa33; /* Green background */
  border-radius: 15px;
  border: 1px solid #000000;
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #f9aa33; /* Green background */
  border-radius: 15px;
  border: 1px solid #000000;
}

body {
  margin: 0px;
}

#angles-floater-content {
  all: initial;
  border-radius: 15px;
  font-family: "Bitter", sans-serif;
  margin: 0px;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.indicator-l {
  all: initial;
  display: inline-block;
  font-size: small;
  font-family: "Bitter", sans-serif;
  box-sizing: border-box;
}

.indicator-r {
  all: initial;
  display: inline-block;
  font-size: small;
  font-family: "Bitter", sans-serif;
  box-sizing: border-box;
}
.slidercontainer {
  all: initial;
  display: inline-block;
  top: 15px;
  right: 30px;
  width: 100px;
  height: 15px;
  margin: 5px;
  box-sizing: border-box;
}

.popup-top {
  all: initial;
  display: inline-block;
  white-space: nowrap;
  width: 300px;
  height: 50px;
  background: #c4c4c4;
  /* border: 1px solid #000000; */
  /* box-sizing: border-box; */
  border-radius: 15px 15px 0px 0px;
}

.popup-source span {
  all: initial;
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  padding: 10px;
  font-family: "Bitter", sans-serif;
}

.popup-mid {
  all: initial;
  display: flex;
  overflow-wrap: break-word;
  width: 300px;
  height: auto;
  background: #f1f1f1;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;

  position: relative;
  min-height: 100% !important;
}

.section-title {
  all: initial;
  display: inline-block;
  /* white-space: nowrap; */
  overflow-wrap: break-word;
  font-weight: bolder;
  font-size: 1.2em;
  padding: 10px;
  font-family: "Lato", sans-serif;
}

.popup-bottom {
  all: initial;
  overflow-wrap: break-word;
  display: flex;
  width: 300px;
  height: 300px;
  background: #c4c4c4;
  /* border: 1px solid #000000; */
  box-sizing: border-box;
  border-radius: 0px 0px 15px 15px;
  overflow: auto;
  box-shadow: 5px 5px 5px grey;
}

.article{
  border: 1px solid #c4c4c4;
  border-radius:15px;
  padding:5px;
  margin:5px;
  background: #FFFFFF;
  box-shadow: 5px 5px 5px grey;
}

.current-article {
  all: initial;
  display: inline-block;
  overflow-wrap: break-word;
}

.contrasting-article {
  all: initial;
  display: inline-block;
  overflow-wrap: break-word;
}
